<div class="home-container">
    <app-navbar></app-navbar>

    <div class="container-body">

        <button class="button-class" (click)="back()">Back</button>
        <div class="right-site">
            <div class="signin-body">
                <h2 class="heading font-size4">Add New User</h2>
                <form class="signin-form" [formGroup]="newUserForm" (ngSubmit)="onSubmit()">
                    <div class="input-body">
                        <label for="uname"><b>Username</b></label>
                        <input type="text" class="input-field email" formControlName="userName"
                            placeholder="Please enter username" />
                        <span class="text-danger"
                            *ngIf="(f.userName.touched || submitted) && f.userName.errors?.required">
                            Please enter userName
                        </span>
                        <span class="text-danger" *ngIf="f.userName.errors?.userName">
                            Please enter a valid userName
                        </span>

                        <!-- first name -->

                        <label for="uname"><b>First Name</b></label>
                        <input type="text" class="input-field email" formControlName="firstName"
                            placeholder="Please enter first name" />
                        <span class="text-danger"
                            *ngIf="(f.firstName.touched || submitted) && f.firstName.errors?.required">
                            Please enter firstName
                        </span>

                        <!-- last name -->

                        <label for="uname"><b>First Name</b></label>
                        <input type="text" class="input-field email" formControlName="lastName"
                            placeholder="Please enter last name" />
                        <span class="text-danger"
                            *ngIf="(f.lastName.touched || submitted) && f.lastName.errors?.required">
                            Please enter firstName
                        </span>

                        <!-- age -->

                        <label for="uname"><b>Age</b></label>
                        <input type="text" onkeypress="return event.charCode>=48 && event.charCode<=57"
                            class="input-field email" formControlName="age" placeholder="Please enter age" />
                        <span class="text-danger" *ngIf="(f.age.touched || submitted) && f.age.errors?.required">
                            Please enter age
                        </span>


                        <!-- salary -->

                        <label for="uname"><b>Salary</b></label>
                        <input type="text" onkeypress="return event.charCode>=48 && event.charCode<=57"
                            class="input-field email" formControlName="salary" placeholder="Please enter salary" />
                        <span class="text-danger" *ngIf="(f.salary.touched || submitted) && f.salary.errors?.required">
                            Please enter salary
                        </span>
                        <span class="text-danger" *ngIf="errorMessage">
                            {{errorMessage}}
                        </span>
                    </div>
                    <button class="button signin-button font-size6">Add User</button>
                </form>
            </div>
        </div>

    </div>
</div>